/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos del navbar */
.navbar {
  background-color: #333;
  color: #fff;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding-top: 10px;
}

.navbar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar nav li {
  margin: 15px 0px;
}

.navbar nav li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.navbar nav li a:hover {
  background-color: #555;
  border-radius: 5px;
}

/* Estilos del footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

h2 {
  text-align: center;
}

.register--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register-form {
  margin: 2rem;
  padding: 2rem;
  border-style: solid;
  border-radius: 1.5rem;
}

.register-input--container {
  margin: 1.5rem;

  display: flex;
  flex-direction: column;
}

.register-input--container label {
  font: bold;
}

.register-input {
  margin-top: 0.3rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.register-button {
  background-color: transparent;
  border-radius: 1rem;
  padding: 0.4rem 1.2rem 0.43rem 1.2rem;

  margin-bottom: 35vh;

  font-size: 1.2rem;
  font: bold;
}
